<!--The content below is only a placeholder and can be replaced.-->
<header>
  <app-cat-header></app-cat-header>
</header>
<h1 title="Hello" [innerHTML]="txt">
    {{title}}!
</h1>

<!--<app-search-->
  <!--(search)="searchBar=$event"-->
<!--&gt;</app-search>-->

<app-search
  [suggestions]="['Bats', 'Hats', 'Mats', 'Tea and Toast']"
  [term]="term"
  (search)="updateTerm($event)"></app-search>



<h1>Cat app</h1>
<div *ngIf="searchBar">Term: {{searchBar}}</div>
<input [disabled]="isDisabled">

<!--<button (click)="count = count +1 ">Click-me{{count}}!</button>-->

<!--<button (click)="count = count +1 ">Click-me{{count}}!</button>-->

<button (click)="catName =$event.target.innerHTML">Soft</button>
<button (click)="catName ='sleepy'">Sleepy</button>
<button (click)="catName ='happy'">Happy</button>

<p>
  Your Kitty Name is {{catName}}
</p>

<div *ngIf="tab === 1 ">this is tab 1</div>
<div *ngIf="tab === 2 ">this is tab 2</div>
<div *ngIf="tab === 3 ">this is tab 3</div>

<button (click)="sortByName()">Sort Cats</button>
<div *ngFor="let cat of cats">
  {{cat.name}}
  <!--<app-cat [cat]="cat"></app-cat>-->
</div>

<button (click) = 'tab = 1' >1</button>
<button (click) = 'tab = 2' >2</button>
<button (click) = 'tab = 3'>3</button>



<h2 *ngIf="attacker">
  {{attacker.name}} attacked with {{attacker.magic}} magic
</h2>
<h2 *ngIf="runAway">
  {{runAway.name}} ran away
</h2>

<app-cat
  [cat]="cat1"
  (attack)="attacker = $event"
  (run)="runAway =$event">
</app-cat>

<app-cat
  [cat]="cat2"
  (attack)="attacker = $event"
  (run)="runAway =$event">
</app-cat>



<router-outlet></router-outlet>
<footer>
  <app-cat-footer></app-cat-footer>
</footer>
export PATH=/Users/mineshshah/mongodb-osx-x86_64-3.4.4/bin:$PATH
